
  body
  { 
     text-align: center; 
    font-size: 16px;
   background-color: #0e0d1a;
   text-align: left;  
}
nav{
background-image: image("./images/Salt-lake-temple.jpg" width=700);
border: 1px;
padding: 20px;
}
nav li{
  display: inline;
  padding: 5px;
  font: bold 20px  tahoma;
}
header, main, footer {
  max-width: 960px;
  margin: 0 auto;
  color: aqua;
}
main section p{
margin:5px;
border: 1px solid #2c5466;
padding: 5px; 
background-color: #1b0666;
}
header img {
  width: 125px;
height: auto;
}
header{
  display: flex;
	align-items:center;
  justify-content:center;
  padding: 3px;
  
}


nav {
	display: flex;
	flex-direction: column;
}
#home_away p{
 float:right;
 max-width: 500px;
 font-style: oblique;
 font-size: 2rem;
}
#home_away img{
  width: 420px;
}


#wedding img{
 float:right;
 width: 420px;
height: 250px;
}
#wedding p{
max-width: 500px;
font-style: oblique;
font-size:2rem;


}
#Family_search h1{
  float: left;

}
#Family_search P{

float:left;
font-style: oblique;
font-size: 2rem;


}
footer{
  clear: both;
 text-align: center;
 border-top: darkblue;
}

