.bg-img {
    /* The image used */
    background-image: url("./Images/flage_baner_bss.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    /* color: aqua; */
  }
  body{
      text-align: center;
      border: darkgray;
      padding: 4px;
      background-color:whitesmoke ;
      /* background-image:url(./Images/90987160_235482010971174_8356385819610578944_o.jpg); */

  }
  main section p{
    margin:5px;
    /* border: 1px solid #2c5466; */
    padding: 5px; 
    /* background-color: #1b0666; */
  }
  #what-do{
     float: left;
      color: rgb(33, 36, 37);
      width: 560px;
    
      
    
  }
  #video{
     align-content: center;

  }